{% extends 'base.html.twig' %}

{% block title %}Student
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block body %}


	<div class="container-fluid">

		<div class="row ml-5">
			<div class="col-md-4">

				<div class="left-profile-panel ">
					<div class="row ">
						<div class="col-xl d-flex  align-items-center justify-content-center">
							<svg width="117" height="116" viewbox="0 0 117 116" fill="none" xmlns="http://www.w3.org/2000/svg">
								<ellipse cx="58.5" cy="58" rx="58.5" ry="58" fill="#384D77"/>
							</svg>

						</div>

					</div>
					<div class="row  ">
						<div class="col-xl d-flex  align-items-center justify-content-center">
							<div class="username">
								<span>
									Name and Surname
								</span>

							</div>
						</div>

					</div>
					<div class="row  ">
						<div class="col-xl d-flex  align-items-center justify-content-center">
							<div class="about">
								<span>
									about me
								</span>
								<br>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita dolor rerum, excepturi eius similique 
																																																																																																																													ipsa consequuntur mollitia explicabo perspiciatis, aperiam ea voluptatem id culpa aut minima, ducimus sed ipsam quidem.</p>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-xl d-flex  align-items-center justify-content-center">
							<div class="about">
								<span>
									courses takes
								</span>
								<br>
								<span class="username">
									03
								</span>
								<br>
								<hr>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xl d-flex  align-items-center justify-content-center">
							<div class="about">
								<span>
									Tests passed
								</span>
								<br>
								<span class="username">
									02
								</span>
								<br>
								<hr>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xl d-flex  align-items-center justify-content-center">
							<div class="about">
								<span>
									University applications
								</span>
								<br>
								<span class="username">
									05
								</span>
								<br>
								<hr>
							</div>
						</div>

					</div>

				</div>


			</div>


			<div class="col-lg ml-5">

				<div class="right-profile-panel">
					<div class="row">
						<div class="col">

							<ul class="nav mb-5" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active " id="pills-informations-tab" data-toggle="pill" href="#pills-informations" role="tab" aria-controls="pills-informations" aria-selected="true">My information</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " id="pills-education-tab" data-toggle="pill" href="#pills-education" role="tab" aria-controls="pills-education" aria-selected="false">My education</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-progress-tab" data-toggle="pill" href="#pills-progress" role="tab" aria-controls="pills-progress" aria-selected="false">My progress</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false">My account</a>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane  active" id="pills-informations" role="tabpanel" aria-labelledby="pills-informations-tab">
									<div class="row">
										<div class="col">
											first name

										</div>
										<div class="col">
											last name
										</div>

									</div>
									<div class="row">
									<div class="col">
											date of birth

										</div>
										<div class="col">
											city of birth
										</div>
									
									</div>


								</div>


								<div class="tab-pane " id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dignissimos sunt deserunt asperiores optio tempora libero non consectetur reiciendis, magnam ipsa velit vitae, aliquam quos nemo quis, mollitia quibusdam quo.</div>
								<div class="tab-pane " id="pills-progress" role="tabpanel" aria-labelledby="pills-progress-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iste porro culpa sit molestias soluta atque in saepe. Atque quia aliquid sequi consequuntur eius quos corporis consequatur illum sit alias?</div>
								<div class="tab-pane " id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iste porro culpa sit molestias solutal</div>
							</div>


						</div>


					</div>


				</div>

			</div>


		</div>

	</div>


{% endblock %}
{% block javascripts %}{% endblock %}
