{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block title %}Universities
{% endblock %}


{% block body %}


	<div class="container">

		<div class="row ml-5">
			<div class="col-xl-12">
				<h1 class="university-title">
					Browse Universities
				</h1>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="row ml-5 mb-0 align-items-end">
			<div class="col  align-self-start"></div>
			<div class="col-xs align-self-center">
				<div class="col">
					<button style="border:none; outline:none; background-color:transparent;" onclick="myFunction()">
						<i class="fa fa-sliders-h" style="color:gray;"></i>
					</button>
				</div>

			</div>

			<div class=" col-sm-4 align-self-end">

				<div class="form-group has-search search-bar">
					<span class="fas fa-search form-control-feedback"></span>
					<input type="text" class="form-control" placeholder="Search for university">
				</div>

			</div>

		</div>
		<div id="searchby" style="display:none;">
			<div class="row ml-5 ">

				<div class="col-md-7 ">
					<div class="row">
						<div class="col">
							<label for="search" class="search-label">
								Subject
							</label>
							<select class="search">
								<option selected="selected">Subject</option>
								<option>aaaa</option>
								<option>bbbb</option>
								<option>cccc</option>
							</select>


						</div>
						<div class="col">
							<label for="search" class="search-label">
								Study level
							</label>
							<select class="search">
								<option selected="selected">Level</option>
								<option>aaaa</option>
								<option>bbbb</option>
								<option>cccc</option>
							</select>

						</div>
						<div class="col">
							<label for="search" class="search-label">
								Location
							</label>
							<select class="search">
								<option selected="selected">Location</option>
								<option>aaaa</option>
								<option>bbbb</option>
								<option>cccc</option>
							</select>

						</div>


					</div>
					<div class="row">
						<div class="col-md-12"></div>
						<div class="col-md-4 offset-sm-11">
							<button type="submit" class="btn-see-all apply">Apply</button>
						</div>


					</div>
				</div>


			</div>
		</div>
	</div>


	{# ************************************************** #}


	<div class="container ">
		<div class="row ml-5">
			<div class="col-xl-12">
				<h4 class="recommendations-title">
					Our recommendations
				</h4>
			</div>
		</div>
		<!-- Grid row -->
		<div
			class="row ml-5 align-items-end">

			<!-- Grid column -->
			<div
				class=" col-xl-4 col-md-12 mb-4  text-center">

				<!--Card-->
				<div
					class="card">

					<!--Card image-->
					<div class="view">
						<img src="https://www.collegeconsensus.com/wp-content/uploads/2016/12/o-HARVARD-UNIVERSITY-BUILDING-facebook.jpg" class="img-fluid" alt="photo">

					</div>

					<!--Card content-->
					<div
						class="card-body">
						<!--Title-->
						<h5 class="card-title">Harvard University</h5>
						<!--Text-->
						<p class="card-text">MA,United,States</p>

						<a href="#">See More</a>

					</div>

				</div>
				<!--/.Card-->

			</div>
			<!-- Grid column -->
			<!-- Grid column -->
			<div
				class=" col-xl-4 col-md-12 mb-4  text-center">

				<!--Card-->
				<div
					class="card">

					<!--Card image-->
					<div class="view">
						<img src="https://www.collegeconsensus.com/wp-content/uploads/2016/12/o-HARVARD-UNIVERSITY-BUILDING-facebook.jpg" class="img-fluid" alt="photo">

					</div>

					<!--Card content-->
					<div
						class="card-body">
						<!--Title-->
						<h5 class="card-title">Harvard University</h5>
						<!--Text-->
						<p class="card-text">MA,United,States</p>

						<a href="#">See More</a>

					</div>

				</div>
				<!--/.Card-->

			</div>
			<!-- Grid column -->
			<!-- Grid column -->
			<div
				class=" col-xl-4 col-md-12 mb-4  text-center">

				<!--Card-->
				<div
					class="card">

					<!--Card image-->
					<div class="view">
						<img src="https://www.collegeconsensus.com/wp-content/uploads/2016/12/o-HARVARD-UNIVERSITY-BUILDING-facebook.jpg" class="img-fluid" alt="photo">

					</div>

					<!--Card content-->
					<div
						class="card-body">
						<!--Title-->
						<h5 class="card-title">Harvard University</h5>
						<!--Text-->
						<p class="card-text">MA,United,States</p>

						<a href="#">See More</a>

					</div>

				</div>
				<!--/.Card-->

			</div>
			<!-- Grid column -->


		</div>
		<div
			class="row ml-5 align-items-end">

			<!-- Grid column -->
			<div
				class=" col-xl-4 col-md-12 mb-4  text-center">

				<!--Card-->
				<div
					class="card">

					<!--Card image-->
					<div class="view">
						<img src="https://www.collegeconsensus.com/wp-content/uploads/2016/12/o-HARVARD-UNIVERSITY-BUILDING-facebook.jpg" class="img-fluid" alt="photo">

					</div>

					<!--Card content-->
					<div
						class="card-body">
						<!--Title-->
						<h5 class="card-title">Harvard University</h5>
						<!--Text-->
						<p class="card-text">MA,United,States</p>

						<a href="#">See More</a>

					</div>

				</div>
				<!--/.Card-->

			</div>
			<!-- Grid column -->
			<!-- Grid column -->
			<div
				class=" col-xl-4 col-md-12 mb-4  text-center">

				<!--Card-->
				<div
					class="card">

					<!--Card image-->
					<div class="view">
						<img src="https://www.collegeconsensus.com/wp-content/uploads/2016/12/o-HARVARD-UNIVERSITY-BUILDING-facebook.jpg" class="img-fluid" alt="photo">

					</div>

					<!--Card content-->
					<div
						class="card-body">
						<!--Title-->
						<h5 class="card-title">Harvard University</h5>
						<!--Text-->
						<p class="card-text">MA,United,States</p>

						<a href="#">See More</a>

					</div>

				</div>
				<!--/.Card-->

			</div>
			<!-- Grid column -->
			<!-- Grid column -->
			<div
				class=" col-xl-4 col-md-12 mb-4  text-center">

				<!--Card-->
				<div
					class="card">

					<!--Card image-->
					<div class="view">
						<img src="https://www.collegeconsensus.com/wp-content/uploads/2016/12/o-HARVARD-UNIVERSITY-BUILDING-facebook.jpg" class="img-fluid" alt="photo">

					</div>

					<!--Card content-->
					<div
						class="card-body">
						<!--Title-->
						<h5 class="card-title">Harvard University</h5>
						<!--Text-->
						<p class="card-text">MA,United,States</p>

						<a href="#">See More</a>

					</div>

				</div>
				<!--/.Card-->

			</div>
			<!-- Grid column -->


		</div>

	</div>


	<script>

		function myFunction() {
var x = document.getElementById("searchby");


if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}

}
	</script>
{% endblock %}

{% block javascripts %}
	{{parent()}}
{% endblock %}
