{% extends 'base.html.twig' %}

{% block title %}Dashboard!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{#<style>
										        #StudentsDashboard { text-transform: uppercase; }
										        .iconsDashboardTop { margin:25%; width:110px; height:110px; }
										        .iconsDashboardMidle { margin:auto; width:110px; height:110px; }
										        .titleDashboardMidle { display:inline; color:#1310EE; background-size:80px!important; padding-top:40px; padding-right: 70px; padding-bottom: 10px; background-repeat:no-repeat !important; background-position: top right!important; }
										        .blackInput{ background: #131313!important; color:#999999!important; }
										        .centretTextInput { text-align: center;}
										        .noPaddingRight { padding-right:0;   }
										        @media only screen and (max-width: 767px) { .titleDashboardMidle{ padding-right:110px;} }
										    </style>#}


{% endblock %}

{% block body %}


	<div class="container">
		<div class="row justify-content-center">
			<div class-"col-xl-12">
				<h1 class="title">DASHBOARD</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col">

				<section class="design-process-section" id="process-tab">
					<div class="container">
						<div class="row">
							<div class="col">
								<h3 class="design-process-title">Application Progress
								</h3>
							</div>

						</div>

						<div class="row">
							<div class="col-xl-12">
								<!-- design process steps-->
								<!-- Nav tabs -->
									<ul class="nav nav-tabs process-model more-icon-preocess" role="tablist"> <li role="presentation">
										<a href="#discover" aria-controls="discover" role="tab" data-toggle="tab">
											<i class="fa fa-search" aria-hidden="true"></i>
											<p>Recommendation Letter</p>
										</a>
									</li>
									<li role="presentation">
										<a href="#strategy" aria-controls="strategy" role="tab" data-toggle="tab">
											<i class="fa fa-qrcode" aria-hidden="true"></i>
											<p>Counselor Questionnaire</p>
										</a>
									</li>
									<li role="presentation">
										<a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab">
											<i class="fa fa-qrcode" aria-hidden="true"></i>
											<p>progress</p>
										</a>
									</li>
									<li role="presentation">
										<a href="#content" aria-controls="content" role="tab" data-toggle="tab">
											<i class="fa fa-qrcode" aria-hidden="true"></i>
											<p>progress</p>
										</a>
									</li>
									<li role="presentation">
										<a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab">
											<i class="fa fa-clipboard" aria-hidden="true"></i>
											<p>progress</p>
										</a>
									</li>
								</ul>
							</div>
						</div>

					</div>

				</section>


			</div>

			<div class="col">
				<section class="counseling-section">

					ccounselking

				</section>
			</div>


		</div>


	</div>


</div>{% endblock %}{% block javascripts %}{% endblock %}
