html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", arial;
  background-color: #f0e9e9;
  font-weight: 300;
}

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.top-bar {
  position: absolute;
  width: 100% !important;
  height: 50px;
  top: 0px;
  background-color: #b22640;
}
.top-bar > img {
  padding-top: 3px;
  width: 120px;
  position: absolute;
  left: 90px;
}
.top-bar > p {
  position: absolute;
  right: 50px;
  padding-top: 10px;
  color: white;
  font-size: large;
  font-weight: 500;
}

.title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  color: #515b70;
  border-bottom: 1px solid #b22640;
}

.settings {
  height: 73px;
  float: left;

  background-repeat: no-repeat;
  width: 250px;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-family: "Strait", sans-serif;
}

.main {
  position: relative;
  margin-top: 80px;
  margin-left: 30px;

  margin-bottom: 20px;
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* ScrolBar  */
.scrollbar {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar:hover {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar Style */

#style-1::-webkit-scrollbar-track {
  border-radius: 2px;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #b22640;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: #b22640;
}
/* Scrollbar End */

.fa-lg {
  font-size: 1em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  top: 12px;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 220px;
  overflow: hidden;
  opacity: 1;
}

.main-menu {
  background: #b22640;
  position: absolute;
  top: 0;

  height: 1000px;
  left: 0;
  width: 55px;
  overflow: hidden;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 4;
}

.main-menu > ul {
  margin: 7px 0;
  list-style-type: none;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  width: 255px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-size: 13px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.14s linear;
  transition: all 0.14s linear;
  font-family: "Strait", sans-serif;
  border-top: 1px solid #8d1e32;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .fb-like {
  left: 180px;
  position: absolute;
  top: 15px;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

/* Logo Hover Property */

.settings:hover,
settings:focus {
  background: url(https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
}

.settings:active,
settings:focus {
  background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
}

a:hover,
a:focus {
  text-decoration: none;
  border-left: 0px solid #f7f7f7;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

/* Darker element side menu Start*/

.darkerli {
  background-color: #b22640;
  text-transform: capitalize;
}

.darkerlishadow {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.darkerlishadowdown {
  background-color: #ededed;
  text-transform: capitalize;
  -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/

/* 
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background: #384D77;

text-shadow: 0px 0px 0px; 
} */
.area {
  float: left;
  background: #384d77;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

/*       css for progress        */

.design-process-section {
  margin: 0 auto;
  width: 80%;
  border: none;
  position: relative;

  height: 250px;
  border-radius: 20px;
  box-shadow: -8px 8px 50px rgba(0, 0, 0, 0.25);
  background: #f8f8f8;
}
.process-model {
  display: flex;

  list-style: none;
  height: 100px;
  justify-content: center;
  z-index: 0;
  border: 1px solid #b22640;

  border-radius: 20px;
}

.design-process-title {
  padding-top: 10px;
  padding-left: 25px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #515b70;
}

.process-model li::after {
  background: #b22640 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  margin: 0 auto;
  position: absolute;
  left: -30px;
  top: 55px;
  right: 30px;
  width: 72%;
  z-index: -1;
}
.process-model li.visited::after {
  background: #57b87b;
}
.process-model li:last-child::after {
  width: 0;
}
.process-model li {
  display: inline-block;
  width: 18%;
  text-align: center;
  float: none;
}
.nav-tabs.process-model > li.active > a,
.nav-tabs.process-model > li.active > a:hover,
.nav-tabs.process-model > li.active > a:focus,
.process-model li a:hover,
.process-model li a:focus {
  border: none;
  background: transparent;
}
.process-model li a {
  padding: 0;
  border: none;
  color: #b22640;
}
.process-model li.active,
.process-model li.visited {
  color: #57b87b;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
  color: #57b87b;
}
.process-model li.active p,
.process-model li.visited p {
  font-weight: 600;
}
.process-model li i {
  display: block;
  height: 68px;
  width: 68px;
  text-align: center;
  margin: 0 auto;
  background: #f5f6f7;
  border: 2px solid #e5e5e5;
  line-height: 65px;
  font-size: 30px;
  border-radius: 50%;
}
.process-model li.active i,
.process-model li.visited i {
  background: #fff;
  border-color: #57b87b;
}
.process-model li p {
  font-size: 14px;

  margin-top: 11px;
}

@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
    font-size: 10px;
    line-height: 60px;
    width: 16%;
  }
  .more-icon-preocess.process-model li::after {
    top: 24px;
  }
  #process-tab {
    width: auto;
    margin-left: 5px;
    padding-left: 5px;
  }
  .main {
    margin-left: 5px !important;
  }
}
@media screen and (max-width: 380px) {
  .process-model.more-icon-preocess li {
    width: 16%;
  }
  .more-icon-preocess.process-model li span {
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 35px;
  }
  .more-icon-preocess.process-model li p {
    font-size: 8px;
  }
  .more-icon-preocess.process-model li::after {
    top: 18px;
  }
  .process-model.more-icon-preocess {
    text-align: center;
  }
}

/*        end css for progress       */

/*       start css counseling session    */

.counseling-section {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  background: #f8f8f8;
  box-shadow: -8px 8px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.counseling-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

/*       end css counseling session      */

.courses-section {
  margin: 20px;
  width: 300px;
  height: 560px !important ;
  background: #f8f8f8;
  box-shadow: -8px 8px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.card-header {
  height: 50%;
  background: #b8c3da;
  border-radius: 20px !important;
  box-shadow: -12px 12px 70px rgba(0, 0, 0, 0.07);
}
.card-header > img {
  position: relative;
  top: -35px;
}

.btn-see-all {
  position: inherit;
  color: white;
  display: flex;
  outline: none !important;
  align-items: center;
  justify-content: center;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 93px;
  height: 25px;
  background: #b22640;
  border: none;
  border-radius: 10px;
}

.card-content {
  margin-top: 40px;
}
.course-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  padding-left: 10px;
  color: #1d396b;
}

.course-lvl {
  padding-top: 0;
  padding-left: 10px;
  line-height: 0px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #515b70;
}

.progress {
  border-radius: 20px;
  height: 10px;

  margin: 10px;
  background-color: #c4c4c4;
}
.progress-bar {
  background-color: #57b87b;
}

.courses-progress {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  padding-left: 10px;
  color: #515b70;
}

.title-next-session {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding-left: 10px;
  color: #1d396b;
  line-height: 15px;
}
.course-date {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  padding-left: 10px;

  color: #515b70;
}

/* ************************************  */

.application-progress-steps {
  margin: 0 auto;

  background: #f8f8f8;
  box-shadow: -8px 8px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 700px;
  width: 80%;
}

#steps {
  width: 80%;
  margin: 30px auto;
  display: inline-block;
  align-items: center;
  text-align: center;
  border: 1px solid #b22640;
  border-radius: 20px;
  padding: 25px;
}

.step {
  width: 40px;
  height: 40px;
  background-color: rgb(182, 182, 199);
  display: inline-block;
  border: 3px solid;
  border-color: #b22640;
  border-radius: 50%;

  color: rgb(182, 182, 199);
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}
.step:first-child {
  line-height: 40px;
}
.step:nth-child(n + 2) {
  margin: 0 0 0 100px;
  transform: translate(0, -4px);
}
.step:nth-child(n + 2):before {
  width: 75px;
  height: 3px;
  display: block;
  background-color: rgb(182, 182, 199);
  transform: translate(-95px, 21px);
  content: "";
}
.step:after {
  width: 150px;
  display: block;
  transform: translate(-55px, 3px);

  color: grey;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
}
.step:first-child:after {
  transform: translate(-55px, -1px);
}
.step.active {
  border-color: rgb(74, 74, 255);

  color: rgb(182, 182, 199);
}
.step.active:before {
  background: linear-gradient(to right, #32bea6 0%, rgb(74, 74, 255) 100%);
}
.step.active:after {
  color: rgb(74, 74, 255);
}
.step.done {
  background-color: #32bea6;
  border-color: #32bea6;

  color: white;
}
.step.done:before {
  background-color: #32bea6;
}
.step:hover + .hide {
  position: absolute;
  display: block;
  color: red;
}

.hide {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 177px;
  display: none;
  box-shadow: 4px -4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: whitesmoke;
  border: none;
  z-index: 4;
  font-family: Space Grotesk;
font-style: normal;
font-weight: 500;
font-size: 20px;

}

/***************************************/

.sat-text {
  margin-left: 25px;
  display: block;
  position: relative;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background-color: #c4c4c4;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.85, 0.18, 0.19, 0.83);
}
.dot.active {
  width: 25px;
  background-color: #32bea6;
}
