html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Space Grotesk", sans-serif;
}

.top-bar {
  position: absolute;
  width: 100% !important;
  height: 50px;
  top: 0px;
  background-color: #b22640;
}
.top-bar > img {
  padding-top: 3px;
  width: 120px;
  position: absolute;
  left: 90px;
}
.top-bar > p {
  position: absolute;
  right: 50px;
  padding-top: 10px;
  color: white;
  font-size: large;
  font-weight: 500;
}

.title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  color: #515b70;
  border-bottom: 1px solid #b22640;
  font-size: 56px;
  line-height: 71px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.settings {
  height: 73px;
  float: left;

  background-repeat: no-repeat;
  width: 250px;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-family: "Strait", sans-serif;
}

.main {
  margin-top: 80px;
  margin-left: 0;
  padding: 0;
}

/* ScrolBar  */
.scrollbar {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar:hover {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar Style */

#style-1::-webkit-scrollbar-track {
  border-radius: 2px;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #b22640;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: #b22640;
}
/* Scrollbar End */

.fa-lg {
  font-size: 1em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  top: 12px;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 220px;
  overflow: hidden;
  opacity: 1;
}

.main-menu {
  background: #b22640;
  position: absolute;
  top: 0;

  height: 1000px;
  left: 0;
  width: 55px;
  overflow: hidden;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 4;
}

.main-menu > ul {
  margin: 7px 0;
  list-style-type: none;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  width: 255px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-size: 13px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.14s linear;
  transition: all 0.14s linear;
  font-family: "Strait", sans-serif;
  border-top: 1px solid #8d1e32;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .fb-like {
  left: 180px;
  position: absolute;
  top: 15px;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

/* Logo Hover Property */

.settings:hover,
settings:focus {
  background: url(https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
}

.settings:active,
settings:focus {
  background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
}

a:hover,
a:focus {
  text-decoration: none;
  border-left: 0px solid #f7f7f7;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

/* Darker element side menu Start*/

.darkerli {
  background-color: #b22640;
  text-transform: capitalize;
}

.darkerlishadow {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.darkerlishadowdown {
  background-color: #ededed;
  text-transform: capitalize;
  -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/

/* 
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background: #384D77;

text-shadow: 0px 0px 0px; 
} */
.area {
  float: left;
  background: #384d77;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

/*       css for progress        */

.design-process-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #515b70;
}

.counseling {
  display: flex;
  padding: 15px;
  width: 350px;

  background: #f8f8f8;
  box-shadow: -8px 8px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.counseling-session-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;

  color: #b22640;
}

.courses-section {
  position: auto;
  margin: 20px;
  width: 350px;
  height: 546px;
  background: #f8f8f8;
  box-shadow: -8px 8px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.card-header {
  height: 240px;
  background: #b8c3da;
  border-radius: 20px !important;
  box-shadow: -12px 12px 70px rgba(0, 0, 0, 0.07);
}
/* .card-header > img {
  
  width: 90%;
  
} */

.btn-see-all {
  
  color: white;
  display: flex;
  outline: none !important;
  align-items: center;
  justify-content: center;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 93px;
  height: 25px;
  background: #384d77;
  border: none;
  border-radius: 10px;
}

.card-content {
  margin-top: 20px;
}
.course-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  padding-left: 10px;
  color: #1d396b;
}

.course-lvl {
  padding-top: 0;
  padding-left: 10px;
  line-height: 0px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #515b70;
}

.college-pic {
  display: inline-block;
  margin-top: -30px;
  width: 100%;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
}
.course-pic {
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
}
.document-pic {
  width: 120%;
  padding-top: 25px;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
}
hr {
  margin-top: 30px;
  width: 100px;
  border: 1px solid #515b70;
}
.progress {
  border-radius: 20px;
  height: 10px;

  margin: 10px;
  background-color: #c4c4c4;
}
.progress-bar {
  background-color: #384d77;
}

.courses-progress {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  padding-left: 10px;
  color: #515b70;
}

.title-next-session {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding-left: 10px;
  color: #1d396b;
  line-height: 5px;
}
.course-date {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 10px;
  /* identical to box height */
  padding-left: 10px;

  color: #515b70;
}

/* ************************************  */

.application-progress-steps {
  margin: 25px 0px;
  background: #f8f8f8;
  box-shadow: -8px 8px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 800px;
  width: 80%;
  
}

#steps {
  width: 80%;
  margin: 50px ;
  display: inline-block;
  align-items: center;
  text-align: center;
  border: 1px solid #b22640;
  border-radius: 20px;
 padding: 20px;
}

.step {
  width: 40px;
  height: 40px;
  background-color: #bebdbd;
  display: inline-block;
  border: 3px solid;
  border-color: #bebdbd;
  border-radius: 50%;

  color: #bebdbd;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}
.step:first-child {
  line-height: 40px;
}
.step:nth-child(n + 2) {
  margin: 0 0 0 100px;
  transform: translate(0, -4px);
}
.step:nth-child(n + 2):before {
  width: 80px;
  height: 3px;
  display: block;
  background-color: #bebdbd;
  transform: translate(-95px, 21px);
  content: "";
}
.step:after {
  width: 150px;
  display: block;
  transform: translate(-55px, 3px);

  color: #bebdbd;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
}
.step:first-child:after {
  transform: translate(-55px, -1px);
}
.step.active {
  border-color: #bebdbd;

  color: rgb(182, 182, 199);
}

.step.done {
  background-color: #384d77;
  border-color: #384d77;

  color: white;
}
.step.done:before {
  background-color: #384d77;
}

/***************************************/

.sat-text {
  margin-left: 25px;
  display: block;
  position: relative;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background-color: #c4c4c4;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.85, 0.18, 0.19, 0.83);
}
.dot.active {
  width: 25px;
  background-color: #b8c3da;
}

.college-lists {
  margin: 15px;
  border: solid 1px black;

  border-radius: 15px;
}
.college-lists > img {
  margin: 5px;
  height: 72px;
  width: 72px;
  background: #c4c4c4;
  border-radius: 15px;
}

.college-lists > span {
  position: absolute;
  display: inline-block;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding-top: 25px;
  line-height: 20px;
  color: #384d77;
}
.show {
  width: 60px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: white;
  border: none;
  background: #384d77;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  float: right;
  margin: 15px;
}
.Document-name {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  padding: 15px;
  color: #384d77;
}

.card-title {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;

  color: #b22640;
}
