{% extends 'base.html.twig' %}

{% block title %}Edit Module{% endblock %}

{% block body %}
<h1 class="text-center">Edit module</h1>
<div class="container">
      <!-- Table -->
      <div class="row">
        <div class="col-9 ">
          <div class="card shadow">
            <div class="card-header ">

    <h3 class="page-heading mb-4">Edit Module's informations</h3> 
    <hr class="my-3">

    {{ include('module/_form.html.twig', {'button_label': 'Update'}) }}
    
    {{ include('module/_delete_form.html.twig')}}
   
    {% if module.typeCourse.name=="Course"%}
    <a href="{{ path('module_document_index',{'moduleId':module.id}) }}" class="btn btn-info float-right">edit documents</a>
    {% endif %}
    </div></div></div></div></div>
    <a href="{{ path('module_selectCategory') }}"class="btn btn-default ">back to cateories list</a>

     

    <script>
        function showModal(id) {
            $("#"+id).modal();
        }
    </script>
{% endblock %}
