{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
<section name='Title' style='margin-top:140px;'>
<div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;font-family:'Neou-bold';">New Module 
           <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">
         
            </div>
          </div>
        </div>
      </div>
</section>
<section>
    <div class="container">
    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
    <hr class="my-3">
 

    {{ include('module/_form.html.twig') }}

   
    </div></div></div></div></div>
    <a href="{{ path('module_selectCategory') }} "class="btn btn-outline-default ">Back to category</a>
{% endblock %}
