{% extends 'base.html.twig' %}

{% block title %}New EducationGroup{% endblock %}

{% block body %}
    <section name='Title' style='margin-top:140px;'>
<div class="container">
        <div class="row justify-content-center">
          <h1 class="text-center"style="color:#B2273D;font-family:'Neou-bold';"> Create new Education Group
           <img src="{{asset('image/icones/1.png')}}" height="80px"width="80px" class="path">
           </h1>
            <div class="row row-grid justify-content-center">
         
            </div>
          </div>
        </div>
      </div>
      </section>
<div class="container">
<div class="row justify-content-center">
<div class="col-10">
    {{ include('education_group/_form.html.twig') }}

    
  <a class="btn btn-default" href="{{ path('education_group_index') }}">back to list</a></div></div></div>
{% endblock %}
