{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="background-color:transparent;border:none;"class="redback over text-white float-right">{{ button_label|default('New Contract') }}</button>

{{ form_end(form) }}
