<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" type="text/css" href="{{ asset('asset/css/main.css') }}"/>


		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

		<title>Welcome</title>
	</head>

	<body>
		<div class="top-bar">


			<div class="logo">
				<img src="{{asset('image/logo-edutest-.png')}}">
			</div>

            

		</div>


		<nav class="main-menu">


			<div class="settings"></div>
			{% if app.user.status == 'Teacher' %}
				{% include 'teacher.html.twig'%}
				{% block teacher %}{% endblock %}
			{% endif %}
			{% if  app.user.status == 'Student' %}
				{% include 'student.html.twig'%}
				{% block student %}{% endblock %}
			{% endif %}
			{% if  app.user.status == 'Admin' %}
				{% include 'admin.html.twig'%}
				{% block admin %}{% endblock %}
			{% endif %}
		</nav>


		{% block body %}{% endblock %}


	</body>

</html>
