<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{{ asset('asset/css/main.css') }}"/>

		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

		<title>Welcome</title>
	</head>

	<body>

		<div class="top-bar">

			<img src="{{asset('image/edutestblanc.png')}}">
			<p>
				Welcome to Edutest
			</p>
		</div>


		<nav class="main-menu ">
			<div class="settings"></div>

			{% if app.user.status == 'Teacher' %}
				{% include 'teacher.html.twig'%}
				{% block teacher %}{% endblock %}
			{% endif %}
			{% if  app.user.status == 'Student' %}
				{% include 'student.html.twig'%}
				{% block student %}{% endblock %}
			{% endif %}
			{% if  app.user.status == 'Admin' %}
				{% include 'admin.html.twig'%}
				{% block admin %}{% endblock %}
			{% endif %}
		</nav>


		<section class="main"> 
		
		{% block body %}{% endblock %}
			
			</section>

			




			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

			<script>

				$(document).ready(function () {
$('.step').each(function (index, element) { // element == this
$(element).not('.active').addClass('done');
$('.done').html('<i class="icon-ok"></i>');
if ($(this).is('.active')) {
return false;
}
});
});

$(".dot").click(function () {
if ($(this).hasClass("active")) {
return;
} else {
$(".dot").removeClass("active");
$(this).addClass("active");
}
});
			</script>

		</body>

	</html>
