{% extends 'base.html.twig' %}


{% block title %}SAT Test
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block body %}


	<div class="container-fluid no-gutters">

		<div class="row">
			<div class="col">
				<h3 class="design-process-title">Placement test
				</h3>
				<hr>
			</div>
		</div>

		<div class="row ml-5 ">


			<div class="col-xl text-part " id="h">
				<div class="">
					<div class="row">
						<div class="col">

							<h1 class="title-sat">Text</h1>
							<hr>
						</div>


					</div>
					<div class="row">
						<button class="btn show-txt" onclick="myFunction()">
							hide text
							<i class="fas fa-expand-alt"></i>
						</button>
					</div>

					<div class="row">

						<div class="scrollspyied " id="style-1" data-spy="scroll" data-target="#navbar-ex" data-offset="0">


							<p>
								.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis tortor at nulla tempus, eget ornare purus interdum. Nulla vel egestas ex, sed euismod dolor. In bibendum auctor pharetra. Fusce mattis urna at sapien porttitor auctor. Donec ut nisi nec massa pellentesque bibendum non sed neque. In vel leo nisi. Nam fermentum scelerisque tincidunt. Sed tincidunt vestibulum sapien, sed porttitor urna hendrerit eu. Etiam cursus arcu vel porta venenatis. Quisque vel nulla efficitur, auctor leo imperdiet, ornare velit. Proin luctus urna purus. Nunc feugiat ex ut nisi volutpat lobortis. Pellentesque placerat auctor massa ut aliquet.
																																																																																																																																																																																																																																																																																												   Sed in est at augue convallis ultrices sit amet ac nibh. Phasellus in risus vel diam rhoncus ultrices. Aliquam blandit eu tellus sed maximus. Praesent consequat porta diam, at posuere metus semper at. Morbi luctus molestie nibh ut ornare. Maecenas ornare, magna quis cursus vulputate, urna lorem accumsan ipsum, ac vulputate justo urna a nibh. Vivamus consectetur, leo vel auctor consequat, est est tincidunt tortor, finibus dictum magna sapien quis risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean est libero, dictum eu pellentesque non, rhoncus cursus neque.
																																																																																																																																																																																																																																																																																																																																		tiam varius auctor lacus, quis commodo urna tincidunt eu. Etiam dignissim vel lectus ut bibendum. Integer ac arcu faucibus, pulvinar augue ut, fermentum erat. Vivamus id lorem vitae felis lacinia tincidunt consectetur et odio. Cras ultrices sed velit ac tristique. Aliquam dignissim placerat ultricies. Mauris imperdiet eu est non condimentum. Fusce finibus est ut justo elementum auctor. Curabitur non dolor pulvinar elit fermentum fringilla sed nec nulla. Vivamus massa urna, porta eu ante vitae, auctor bibendum ante. Aenean pretium ante sed lectus consequat facilisis.
																																																																																																																																																																																																																																																																																																																																		Proin vel enim ac justo congue lacinia. Ut tempus laoreet mollis. Integer nec felis ut risus malesuada consequat. Donec nec imperdiet enim, vel iaculis nunc. Aliquam maximus vulputate cursus. Suspendisse potenti. Donec facilisis auctor dolor ac sollicitudin. Aenean tempus sollicitudin tortor, sit amet dapibus quam sodales vitae. Aenean est mi, vulputate non maximus eu, molestie a tellus. Donec lacinia dolor a dolor dictum ultricies. Aliquam suscipit lectus eu pharetra efficitur. Nam malesuada augue mauris, non condimentum risus tempor ut. In a facilisis sapien, eget gravida justo.
																																																																																																																																																																																																																																																																																																																																		Duis est sem, mattis in ligula id, laoreet vestibulum felis. Nunc feugiat nulla sit amet lacus porttitor bibendum. Integer vitae nisi neque. Donec rhoncus eu ligula ac semper. Vestibulum magna ante, bibendum eget dui bibendum, placerat auctor est. Sed lacinia sem ligula, sed viverra odio gravida a. Sed non bibendum quam. Praesent auctor eros vitae velit egestas luctus. In malesuada finibus nibh id feugiat. Duis cursus justo vitae arcu interdum ornare.
																																																																																																																																																																																																																																																																																																																																		.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis tortor at nulla tempus, eget ornare purus interdum. Nulla vel egestas ex, sed euismod dolor. In bibendum auctor pharetra. Fusce mattis urna at sapien porttitor auctor. Donec ut nisi nec massa pellentesque bibendum non sed neque. In vel leo nisi. Nam fermentum scelerisque tincidunt. Sed tincidunt vestibulum sapien, sed porttitor urna hendrerit eu. Etiam cursus arcu vel porta venenatis. Quisque vel nulla efficitur, auctor leo imperdiet, ornare velit. Proin luctus urna purus. Nunc feugiat ex ut nisi volutpat lobortis. Pellentesque placerat auctor massa ut aliquet.
																																																																																																																																																																																																																																																																																																																																		Sed in est at augue convallis ultrices sit amet ac nibh. Phasellus in risus vel diam rhoncus ultrices. Aliquam blandit eu tellus sed maximus. Praesent consequat porta diam, at posuere metus semper at. Morbi luctus molestie nibh ut ornare. Maecenas ornare, magna quis cursus vulputate, urna lorem accumsan ipsum, ac vulputate justo urna a nibh. Vivamus consectetur, leo vel auctor consequat, est est tincidunt tortor, finibus dictum magna sapien quis risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean est libero, dictum eu pellentesque non, rhoncus cursus neque.
																																																																																																																																																																																																																																																																																																																																		Etiam varius auctor lacus, quis commodo urna tincidunt eu. Etiam dignissim vel lectus ut bibendum. Integer ac arcu faucibus, pulvinar augue ut, fermentum erat. Vivamus id lorem vitae felis lacinia tincidunt consectetur et odio. Cras ultrices sed velit ac tristique. Aliquam dignissim placerat ultricies. Mauris imperdiet eu est non condimentum. Fusce finibus est ut justo elementum auctor. Curabitur non dolor pulvinar elit fermentum fringilla sed nec nulla. Vivamus massa urna, porta eu ante vitae, auctor bibendum ante. Aenean pretium ante sed lectus consequat facilisis.
																																																																																																																																																																																																																																																																																																																																		Proin vel enim ac justo congue lacinia. Ut tempus laoreet mollis. Integer nec felis ut risus malesuada consequat. Donec nec imperdiet enim, vel iaculis nunc. Aliquam maximus vulputate cursus. Suspendisse potenti. Donec facilisis auctor dolor ac sollicitudin. Aenean tempus sollicitudin tortor, sit amet dapibus quam sodales vitae. Aenean est mi, vulputate non maximus eu, molestie a tellus. Donec lacinia dolor a dolor dictum ultricies. Aliquam suscipit lectus eu pharetra efficitur. Nam malesuada augue mauris, non condimentum risus tempor ut. In a facilisis sapien, eget gravida justo.
																																																																																																																																																																																																																																																																																																																																		Duis est sem, mattis 	
																																																																																																																																																																																																																																																																																																																																		.</p>
						</div>
						<!-- /.scrollspy-example-2 -->

					</div>


				</div>


			</div>


			<div class="col-xl">
				<div class="bb">

					<div class="row">
						<button class="btn show-txt" onclick="myFunction()" id="k" style="display:none;">
							show text
							<i class="fas fa-expand-alt"></i>
						</button>
					</div>

					<div class="row">

						<div
							class="col-xl-12">


							<!-- multistep form -->
							<form
								id="msform">
								<!-- progressbar -->
								<ul id="progressbar">

									<li class="active"></li>
									<li ></li>
									<li></li>
									<li></li>


								</ul>

								<h1>Part Two</h1>
								<!-- fieldsets -->


								<fieldset>
									<h2 class="fs-title">Question 1</h2>
									<h3 class="fs-subtitle">What do you consider your main strengths to be?</h3>
									<!--<p class="help-block">List your strengths here.</p>-->
									<textarea class="form-control" name="CAT_Custom_1" id="CAT_Custom_1" rows="6" onkeydown="if(this.value.length>=4000)this.value=this.value.substring(0,3999);"></textarea>
									<input type="button" name="next" class="next action-button" value="Next"/>
								</fieldset>
								<fieldset>
									<h2 class="fs-title">Question 2</h2>
									<h3 class="fs-subtitle">What do your colleagues consider your main strengths to be?</h3>
									<textarea class="form-control" name="CAT_Custom_2" id="CAT_Custom_2" rows="6" onkeydown="if(this.value.length>=4000)this.value=this.value.substring(0,3999);"></textarea>
									<input type="button" name="previous" class="previous action-button" value="Previous"/>
									<input type="button" name="next" class="next action-button" value="Next"/>
								</fieldset>
								<fieldset>
									<h2 class="fs-title">Question 3</h2>
									<h3 class="fs-subtitle">What have been your main achievements?</h3>


									<div class="radiobtn">
										<input type="radio" id="huey" name="drone" value="huey" checked/>
										<label for="huey">Huey</label>
									</div>

									<div class="radiobtn">
										<input type="radio" id="dewey" name="drone" value="dewey"/>
										<label for="dewey">Dewey</label>
									</div>

									<div class="radiobtn">
										<input type="radio" id="louie" name="drone" value="louie"/>
										<label for="louie">Louie</label>
									</div>
									<input type="button" name="previous" class="previous action-button" value="Previous"/>
									<input type="button" name="next" class="next action-button" value="Next"/>

								</fieldset>
								<fieldset>
									<h2 class="fs-title">Question 4</h2>
									<h3 class="fs-subtitle">What postgraduate qualifications or training do you wish to obtain?</h3>
									<textarea class="form-control" name="CAT_Custom_10" id="CAT_Custom_10" rows="6" onkeydown="if(this.value.length>=4000)this.value=this.value.substring(0,3999);"></textarea>
									<input type="button" name="previous" class="previous action-button" value="Previous"/>
									<input type="submit" name="submit" class="submit action-button" value="Submit"/>
								</fieldset>

							</form>


						</div>
					</div>


				</div>
			</div>


			{# <div class="col-xl-2">
							<div class="bb">
								<div class="row d-flex justify-content-center ">
			
									<div class="col ">
										<h1 class="title-sat">SUBJECT</h1>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="subject-parts">
											<p>part one</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="subject-parts current">
											<p>part two</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="subject-parts">
											<p>part three</p>
										</div>
									</div>
								</div>
							</div>
						</div> #}


		</div>

	</div>

	<script>

		function myFunction() {
var x = document.getElementById("h");
var y = document.getElementById("k");

if (x.style.display === "none") {
x.style.display = "block";
y.style.display = "none";
} else {
x.style.display = "none";
}

if (x.style.display === "none") {

y.style.display = "block";

}


}
	</script>


{% endblock %}
{% block javascripts %}


	{{ parent() }}
{% endblock %}
