{% extends 'base.html.twig' %}
{% block stylesheet %}{% endblock %}
{% block title %}Add application files
{% endblock %}

{% block body %}


	<div class="container application">
		<div class="row">
			<div class="col-xl-12 justify-content-center">

				<div class="row">

					<div class="col-md-4">
						<h4>Apply Now</h4>
					</div>

					<div class="col-xl-8">


						<div id="steps" class="app-steps">
							<div class="step" data-desc="part 1">1</div>

							<div class="step " data-desc="Part 2">2</div>
							<div class="step active " data-desc="part 3">3</div>
							<div class="step " data-desc="Part 4">4</div>

						</div>


					</div>
				</div>

				<div class="row">
					<div class="col">
						<ul class="nav mb-5" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active " id="pills-informations-tab" data-toggle="pill" href="#pills-informations" role="tab" aria-controls="pills-informations" aria-selected="true">Counselor questionnaire</a>
							</li>
							<li class="nav-item">
								<a class="nav-link " id="pills-education-tab" data-toggle="pill" href="#pills-education" role="tab" aria-controls="pills-education" aria-selected="false">Letter of recommendation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-progress-tab" data-toggle="pill" href="#pills-progress" role="tab" aria-controls="pills-progress" aria-selected="false">Financial documents</a>
							</li>

						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane  active" id="pills-informations" role="tabpanel" aria-labelledby="pills-informations-tab">
								<div class="row">

									<p>Usually, you will need to provide 2 letters of recommendation from high school teachers to support your college 
																																																																																										                  applications. It is always good practice to request one of these letters from one science teacher (Math, Biology, Economics...)
																																																																																										                   and another from a Humanities teacher (English, French, History...). You need to ascertain 
																																																																																										                   that your teachers are aware of the importance of these letters and understand what key components they 
																																																																																										                   need to include in their recommendations. Finally, make sure you provide your teachers with the recommendation 
																																																																																										                   letter package offered 
																																																																																										                  by Edutest as it offers ample instruction and detail 
																																																																																										                  on the writing process of these letters.</p>

								</div>

							</div>


							<div class="tab-pane " id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">Lorem, ipsum dolor sit amet 
																																																																								              consectetur adipisicing elit. Itaque, quidem. Aliquid distinctio facilis impedit maiores accusamus eveniet h
																																																																								              arum enim vero voluptas tempore, similique doloremque 
																																																																								              nam at voluptates, recusandae atque facere?</div>


							<div class="tab-pane " id="pills-progress" role="tabpanel" aria-labelledby="pills-progress-tab">Lorem ipsum dolor sit am
																																																																																              et consectetur adipisicing elit. Blanditiis iste porro culpa sit molestias soluta atque in saepe. 
																																																																																              tque quia aliquid sequi consequuntur eius quos corporis consequatur illum sit alias?</div>


						</div>


					</div>


				</div>
				<div class="row">


					<div class="col-4">

						<div class="stepv completed">
							<div class="v-stepper">
								<div class="circle"></div>
								Test File
								<div class="line"></div>
							</div>


						</div>


						<div class="stepv active">
							<div class="v-stepper">
								<div class="circle"></div>
								Questionnaire
								<div class="line"></div>
							</div>


						</div>


						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								Passport
								<div class="line"></div>
							</div>


						</div>


						<div class="stepv empty">
							<div class="v-stepper">
								<div class="circle"></div>
								<div class="line"></div>
							</div>
							<div class="content">
								Transcript
							</div>

						</div>

						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								First year transcription
								<div class="line"></div>
							</div>


						</div>

						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								Second year transcription
								<div class="line"></div>
							</div>


						</div>


						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								Third year transcription
								<div class="line"></div>
							</div>


						</div>


						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								Bac transcription
								<div class="line"></div>
							</div>


						</div>
						<br><br><br>
						<div class="stepv empty">
							<div class="v-stepper">
								<div class="circle"></div>
								<div class="line"></div>
							</div>
							<div class="content">
								Common app
							</div>

						</div>


						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								Username
								<div class="line"></div>
							</div>
						</div>
						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								Password
								<div class="line"></div>
							</div>


						</div>

						<div class="stepv ">
							<div class="v-stepper">
								<div class="circle"></div>
								Sat Score
								<div class="line"></div>
							</div>

						</div>


					</div>


					<div
						class="col-8">


						{# <div class="form-group mb-5 mt-5">
																								
																																<input type="text" class="form-control" id="staticEmail2" placeholder="File name">
																																<input type="file"  multiple class="file-loading" placeholder="file">
																															</div> #}


						<div class="inputfile-box">
							<input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
							<label for="file">
								<span id="file-name" class="file-box">File name
								</span>
								<span class="file-button">
									<i class="fas fa-upload" aria-hidden="true"></i>
									Upload
								</span>
							</label>
						</div>


						<div class="inputfile-box">
							<input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
							<label for="file">
								<span id="file-name" class="file-box">
									File name</span>
								<span class="file-button">
									<i class="fas fa-upload" aria-hidden="true"></i>
									Upload
								</span>
							</label>
						</div>


						<div class="inputfile-box">
							<input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
							<label for="file">
								<span id="file-name" class="file-box">
									File name</span>
								<span class="file-button">
									<i class="fas fa-upload" aria-hidden="true"></i>
									Upload
								</span>
							</label>
						</div>


						<br><br><br>

						<div class="inputfile-box">
							<input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
							<label for="file">
								<span id="file-name" class="file-box">
									File name</span>
								<span class="file-button">
									<i class="fas fa-upload" aria-hidden="true"></i>
									Upload
								</span>
							</label>
							<br>
							<input type="checkbox" id="scales" name="scales" checked>
							<label for="scales">Translate word</label>
						</div>


						<div class="inputfile-box">
							<input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
							<label for="file">
								<span id="file-name" class="file-box">
									File name</span>
								<span class="file-button">
									<i class="fas fa-upload" aria-hidden="true"></i>
									Upload
								</span>
							</label>
							<br>
							<input type="checkbox" id="scales" name="scales" checked>
							<label for="scales">Translate word</label>
						</div>


						<div class="inputfile-box">
							<input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
							<label for="file">
								<span id="file-name" class="file-box">
									File name</span>
								<span class="file-button">
									<i class="fas fa-upload" aria-hidden="true"></i>
									Upload
								</span>
							</label>
							<br>
							<input type="checkbox" id="scales" name="scales" checked>
							<label for="scales">Translate word</label>
						</div>


						<div class="inputfile-box">
							<input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
							<label for="file">
								<span id="file-name" class="file-box">
									File name</span>
								<span class="file-button">
									<i class="fas fa-upload" aria-hidden="true"></i>
									Upload
								</span>
							</label>
							<br>
							<input type="checkbox" id="scales" name="scales" checked>
							<label for="scales">Translate word</label>
						</div>

						<br><br><br>

						<input type="text" class="common-app">
						<br>
						<input type="text" class="common-app">
						<br>
						<input type="text" class="common-app">


					</div>


				</div>

				<div class="row mt-5">
					<div class="col-4"></div>
					<div class="col-md-4">
						<button class="btn-see-all app">Save & Exit</button>
					</div>
					<div class="col-md-4">
						<button class="btn-see-all app">Save & Continue</button>
					</div>

				</div>

			</div>

		</div>

	</div>
	<script>
		function uploadFile(target) {
document.getElementById("file-name").innerHTML = target.files[0].name;
}
	</script>

{% endblock %}


{% block javascript %}

	<script>
		var pmfFileupload = { /* 
      Pretty mother fuckin File Upload input
   */
init: function () {
this.cacheDom();
this.events();
},
cacheDom: function () {
this.$filePlaceholder = $('.file-placeholder');
this.$filelabel = this.$filePlaceholder.find('label');
this.$fileUpload = this.$filePlaceholder.find('.fileUpload');
this.$fileBrowseTxt = this.$filePlaceholder.find('.file-browse-txt');
},
events: function () {
this.$fileUpload.on('change', this.getFileName.bind(this));
},
getFileName: function () {
this.newVal = this.$fileUpload.val();
if (this.newVal !== "") {
this.$fileBrowseTxt.text(this.newVal).addClass('hasValue');
} else {
this.$fileBrowseTxt.text("Select a file...");
}
}
};

$(document).ready(function () {
pmfFileupload.init();
});
	</script>
{% endblock %}
