<form method="post" action="{{ path('configuration_email_delete', {'id': configuration_email.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ configuration_email.id) }}">
    <button class="redback over text-white ">Delete</button>
</form>
