{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container-fluid mt--8">
   <div class="row">

     <div class="col-xl-10 order-xl-1">
          <div class="card bg-secondary shadow">

 <div class="card-body">
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}"class="btn btn-outline-default float-left">back to list</a>
{% endblock %}
